[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cirq = "*"
qutip = "*"
jupyter = "*"
numpy = "*"
pylatexenc = "*"
qiskit-ibm-runtime = "*"
qiskit = "*"

[dev-packages]

[requires]
python_version = "3.9"
